<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>H-1B Visa Overview</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div id="header">
        <div class="app-name">VisaVision.com</div>
    </div>
    <div id="nav">
        <a href="/">Home</a>
        <a href="/employers">Employers</a>
        <a href="/h1b_visa">H-1B Visa</a> <!-- Added link to H-1B Visa page -->
        <a href="/reports">Reports</a>
        <a href="/visa_approval_predictions">Predictions</a>
    </div>
    <div class="container">
        <div id="content">
            <h1>Overview: H-1B Visa</h1>
            <p>H-1B Visa is a non-immigrant visa which allows U.S. employers to temporarily employ foreign professionals in specialty occupations for three years, extendable to six years.</p>

            <h2>Family:</h2>
            <p>Spouse and unmarried children under 21 years of age could apply for H-4 non-immigrant visa. They do not have work authorization under H-4 status.</p>

            <h2>Green Card Intent:</h2>
            <p>Dual Intent is permitted. (Doctrine of Dual Intent allows visa holders to enter the U.S. while simultaneously seeking lawful permanent resident status(green card status)).</p>

            <h2>Qualification:</h2>
            <p>To qualify for H1B Visa, the foreign professional must hold a bachelor's or higher degree from an accredited college or university in the specialty occupation. If the foreign professional holds a foreign degree, then that degree must be determined to be the educational equivalent of a U.S. bachelor's degree.</p>
            <p>The foreign professional may also obtain an educational equivalence through a combination of education, specialized training or progressive work experience. Three years of specialized experience is generally considered equivalent to one year of college education.</p>
            <p>For example, if a foreign professional has a three year associate degree, he or she must at least have 3 year of relevant post-graduate experience to be qualified for H1B Visa.</p>

            <h2>Occupation:</h2>
            <p>The H1B visa is designed to be used for foreign workers in "speciality occupations", which require theoretical and practical application of a body of highly specialized knowledge in a field of human endeavor.</p>
            <p>The occupation list includes, but not limited to, architecture, engineering, mathematics, physical sciences, social sciences, biotechnology, medicine and health, education, law, accounting, business specialties, theology, and the arts. The "specialty occupations" also require the attainment of a bachelor’s degree or its equivalent as a minimum.</p>

            <h2>Period of Stay:</h2>
            <p>H1B Visa worker may be admitted for a period of up to three years. The time period may be extended, but generally cannot go beyond a total of six years. There are some exceptions under sections 104(c) and 106(a) of the American Competitiveness in the Twenty-First Century Act (AC21).</p>
            <ol>
                <li>If the H1-B visa holder has submitted an I-140 immigrant petition or a labor certification prior to their fifth year anniversary of having the H-1B visa, they are entitled to renew their H-1B visa in one-year or three-year increments until a decision has been rendered on their application for permanent residence.</li>
                <li>If the H1-B visa holder has an approved I-140 immigrant petition, but is unable to initiate the final step of the green card process due to their priority date not being current, they may be entitled to a three-year extension of their H-1B visa.</li>
                <li>The maximum duration of the H-1B visa is ten years for exceptional Defense Department project related work.</li>
            </ol>

            <h2>U.S. Worker Protection:</h2>
            <p>The U.S. Department of Labor is responsible for ensuring that foreign workers do not displace or adversely affect wages or working conditions of US workers.</p>
            <p>For every H-1B petition filed with the USCIS, there must be included a Labor Condition Application (LCA) which will be certified by Department of Labor(DOL). The LCA is designed to ensure that the wage offered to the non-immigrant worker meets or exceeds the prevailing wage in the area of employment. The LCA also contains an attestation section designed to prevent the program from being used to import foreign workers to break a strike or replace US citizen workers.</p>
            <p>H-1B complaints should be filed with the Department of Labor, Wage and Hour Division local office which has jurisdiction over the physical location of the employer. Form WH-4 should be used to file the complaint.</p>
            <p>If the employer did not fulfill the attestations and pay, the complaints should be filed to the Wage and Hour Division. If the employer conducted fraudulent activities or misrepresented applications (e.g. the company does not exist or never employs the individuals, or someone who is not a representative of the employer signs the application), the complaints will be forwarded to the Office of Inspector General (OIG) by the Wage and Hour Division. OIG then generally works with the Department of Justice (DOJ) to investigate.</p>
        </div>
    </div>
</body>
</html>
